.footer {
	background-color: #353a3f;
	width: 100%;
}
.footer .list-inline > li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

.list-inline {
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: #888b8f;
}

.footer a:hover {
    color: #c1c3c4;
}

.footer .row {
	padding-top: 40px;
	text-align: center;
}

#copyright_paragraph {
	text-align: center;
	font-size: 10px;
	color: #888b8f;
}