<div class="footer fixed-bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<ul class="list-inline">
					<li><a href="#">PRIVAT POLITIK</a></li>
					<li><a href="#">BRUGSBETINGELSER</a></li>
					<li><a href="#">KONTAKT</a></li>
					<li><a href="#">SITE MAP</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p id="copyright_paragraph">
					© Alle rettigheder er forebeholdt SeekHelp
				</p>
			</div>
		</div>
	</div>
</div>