<p>login-form works!</p>

<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    Log in
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    Register
                </div>
            </div>
        </div>
    </div>
</div>