<div class="container">
    <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8">
            <form>
                <input type="text" class="form-control" placeholder="Search">
            </form>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 searchDiv">
            <button type="button" class="btn btn-dark searchButton">Search</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Location
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Location
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text">TEXT</p>
                </div>
            </div>
        </div>
    </div>
</div>