.container{
    width: 100%;
}

.searchInput{
    margin-top: 5%;
    border-radius: 25px;
}

.searchButton{
    margin-top: 28%;
}

.dropdown{
    margin-top: 17%;
}

.card{
    margin-top: 10%;
}

.form-check{
    margin-top: 10%;
    margin-left: 15%;
}
